.example-spacer {
  flex: 1
}
img{
  width: 60px;
  height: 60px;
  /* border: none;
  border-radius: 50%; */
}
/* .t{
 text-align: center;
} */
.mat-button {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}
.mat-icon {
  margin-left: 80px;
}
