
    <div
    fxLayout
    fxLayout.xs= "column"
    fxLayoutAlign="center center"
    fxLayoutAlign.xs="center center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="5px">
    <div class="flexCard" fxFlex="25%">
     <mat-card  class="example-card" appMaterialElevation>
        <mat-card-header>
          <div mat-card-avatar><i class="material-icons">
            announcement
          </i></div>
          <mat-card-title>Notice</mat-card-title>

          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <div>
          <app-ad-banner [ads]="ads"></app-ad-banner>
        </div> -->
        <mat-card-content>
          <div class="content-child">
              <ng-template ad-host></ng-template>

          </div>
      </mat-card-content>
      </mat-card>
    </div>
    <div class=flexCard fxFlex="25%">
      <mat-card  class="example-card" appMaterialElevation>
         <mat-card-header>
           <div mat-card-avatar><i class="material-icons">
            assignment
           </i></div>
           <mat-card-title>Tender</mat-card-title>

           <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
         </mat-card-header>
         <!-- <div>
           <app-ad-banner [ads]="ads"></app-ad-banner>
         </div> -->
         <mat-card-content>
           <div class="content-child">
               <p>No tender yet...</p>
           </div>
       </mat-card-content>
       </mat-card>

     </div>
     <div class=flexCard fxFlex="25%">
      <mat-card  class="example-card" appMaterialElevation>
         <mat-card-header>
           <div mat-card-avatar><i class="material-icons">
            campaign
           </i></div>
           <mat-card-title>Announcements</mat-card-title>

           <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
         </mat-card-header>
         <!-- <div>
           <app-ad-banner [ads]="ads"></app-ad-banner>
         </div> -->
         <mat-card-content>
           <div class="content-child">
               <p>Announcements</p>

           </div>
       </mat-card-content>
       </mat-card>
     </div>
     </div>

